<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="net.softsociety.spring03.dao.BoardDAO">
    
    <insert id="createBoard" parameterType="Board">
    	insert into CAPA_Board (boardnum, boardname, boardtype, boardjob)
    	values
    		(CAPA_Board_seq.nextval, #{boardnum}, #{boardname}, #{boardtype}, #{boardjob})
    </insert>    

	<select id="postlist" parameterType="Post" resultType="Post">
	select * from CAPA_Post
	where 
		boardname = #{boardname}
	</select>
	
	<select id="read" parameterType="int" resultType="Post">
	select 
		postnum
		, memberid
		, title
		, content
		, to_char(inputdate, 'YYYY-MM-DD HH24:MI:SS') inputdate
		, hits
		, originalfile
		, savedfile
	from 
		CAPA_Post
	where 
		postnum = #{postnum}
	</select>
	
	<update id="updateHits" parameterType="int">
	update
		CAPA_Post
	set
		hits = hits + 0.5
	where
		postnum = #{postnum}
	</update>
	<delete id="deletePost" parameterType="Post">
	delete
	from
		CAPA_Post
	where
		postnum = #{postnum}
		and memberid = #{memberid}
	</delete>
    </mapper>