<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="net.softsociety.spring03.dao.BoardDAO">
    
    <insert id="createBoard" parameterType="Board">
    	insert into CAPA_Board (boardnum, boardname, boardtype, boardjob)
    	values
    		(CAPA_Board_seq.nextval, #{boardnum}, #{boardname}, #{boardtype}, #{boardjob})
    </insert>    

	<select id="read" parameterType="int" resultType="Post">
	select 
		postnum
		, boardname
		, boardnum
		, memberid
		, title
		, content
		, to_char(inputdate, 'YYYY-MM-DD HH24:MI:SS') inputdate
		, hits
		, originalfile
		, savedfile
	from 
		CAPA_Post
	where 
		postnum = #{postnum}
	</select>
	
	<update id="updateHits" parameterType="int">
	update
		CAPA_Post
	set
		hits = hits + 0.5
	where
		postnum = #{postnum}
	</update>
	<update id="updatePost" parameterType="Post">
	update
		CAPA_Post
	set
		title = #{title}
		,content = #{content}
		<if test="originalfile != null and savedfile != null">
		, originalfile = #{originalfile}
		, savedfile = #{savedfile}
		</if>
	where
		postnum = #{postnum}
		and memberid = #{memberid}
	</update>
	<delete id="deletePost" parameterType="Post">
	delete
	from
		CAPA_Post
	where
		postnum = #{postnum}
		and memberid = #{memberid}
	</delete>
	
	<delete id="deletePost2" parameterType="Post">
	delete
	from
		CAPA_Post
	where
		postnum = #{postnum}
	</delete>	
	
	<!-- <select id="postlist" parameterType="Post" resultType="Post">
	select * from CAPA_Post
	where 
		boardname = #{boardname}
	order by
		postnum desc
	</select> -->
	
	<!-- 전체 글 개수 (검색 필터링 후) -->
	<select id="countPost" parameterType="map" resultType="int">
	select
		count(*)
	from
		CAPA_Post
	<if test="type != null and searchWord != null">
	<where>
		<if test="type == 'title'">
			upper(title) like '%' || upper(#{searchWord}) || '%'
		</if>	
		<if test="type == 'contents'">
			upper(content) like '%' || upper(#{searchWord}) || '%'
		</if>	
		<if test="type == 'memberid'">
			memberid like '%' || #{searchWord} || '%'
		</if>	
		<if test="type == 'all'">
			upper(title) like '%' || upper(#{searchWord}) || '%'
			or upper(content) like '%' || upper(#{searchWord}) || '%'
			or memberid like '%' || #{searchWord} || '%'
		</if>	
	</where> 
	</if>
	</select>
	<!-- 현재 페이지 목록(검색 필터링 후) -->
	<select id="selectPostList" parameterType="map" resultType="Post">
	select rownum displaynum, postnum, boardnum, boardname, memberid, title, content, inputdate, hits
	from(select	
		postnum
		, boardnum
		, boardname
		, memberid
		, title
		, content
		, inputdate
		, hits
	from 
		CAPA_Post
	<if test="type != null and searchWord != null">
	<where>
		<if test="type == 'title'">
			upper(title) like '%' || upper(#{searchWord}) || '%'
		</if>
		<if test="type == 'contents'">
			upper(content) like '%' || upper(#{searchWord}) || '%'
		</if>	
		<if test="type == 'memberid'">
			memberid like '%' || #{searchWord} || '%'
		</if>	
		<if test="type == 'all'">
			upper(title) like '%' || upper(#{searchWord}) || '%'
			or upper(content) like '%' || upper(#{searchWord}) || '%'
			or memberid like '%' || #{searchWord} || '%'
		</if>	
	</where> 
	</if>	
	<!-- order by
		postnum desc -->) x 
		order by postnum desc
	</select>
    </mapper>