

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.spring03.dao.CompanyDAO">

	<insert id="insertCompanyInfo" parameterType="Company_info">
	   insert into CAPA_Company_info (
	      company_name,
	      sales,
	      employees,
	      c_address,
	      homepage,
	      salary_AVG,
	      filed,
	      scale,
	      info,
	      Edate,
			<if test="originalfile != null and savedfile != null">
				originalfile
				, savedfile
			</if>
	   ) values (
	      #{company_name},
	      #{sales},
	      #{employees},
	      #{c_address},
	      #{homepage},
	      #{salary_AVG},
	      #{filed},
	      #{scale},
	      #{info},
	      #{Edate},
			<if test="originalfile != null and savedfile != null">
			 	#{originalfile}
				, #{savedfile}
			</if>
	   )
	</insert>

	<select id="selectAll" parameterType="String" resultType="Company_info">
	   select 
	   		company_name
	   from 
	   		CAPA_Company_info
	   <where>
			<if test="company_name!=null">
				company_name like '%'||#{company_name}||'%'
			</if>
		</where>
		order by
			company_name desc
	</select>
	
	<select id="readinfo" parameterType="String" resultType="Company_info">
	   select * from CAPA_Company_info
	   where 
	      company_name = #{company_name}
	</select>
	
	<select id="selectOne" parameterType="String" resultType="Company_info">
		  select 
		  	company_name,
		  	sales,
		  	employees,
		  	filed,
		  	homepage,
		  	to_char(Edate, 'YYYY-MM-DD') Edate,
		  	info,
		  	c_address,
		  	lat,
		  	lng
		  from 
		  	CAPA_Company_info
	   where 
	      company_name = #{company_name}
	</select>

</mapper>