<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
      <mapper namespace="net.softsociety.spring03.dao.PostDAO">
     	<insert id="writePost" parameterType="Post">
		insert into CAPA_post (
			 postnum
			, boardname
			, memberid
			, title
			, content
			<if test="originalfile != null or savedfile != null">
			, originalfile
			, savedfile
			</if>			
		) values (
			CAPA_Post_seq.nextval
			, #{boardnum}
			, #{memberid}
			, #{title}
			, #{content}
			<if test="originalfile != null or savedfile != null">
			, #{originalfile}
			, #{savedfile}
			</if>
		)
	</insert> 
<!-- <insert id="insertReply" parameterType="Reply">
		insert into naiteigo_reply (
			replynum
			, boardnum
			, postnum
			, memberid
			, replytext
			) 
		values (
			naiteigo_reply_seq.nextval
			, #{boardnum}
			, #{postnum}
			, #{memberid}
			, #{replytext}
		)
	</insert>
	 
 	<select id="selectAll" parameterType="SelNumber" resultType="Post">
		select * from CAPA_post
			<where>
				boardnum = to_number(#{boardnum})
				<if test="type != null and searchWord != null">
				 <if test="type == 'title'">
					title LIKE '%'||#{searchWord}||'%'
				</if>
				<if test="type == 'contents'">
					contents LIKE '%'||#{searchWord}||'%'
				</if>
				<if test="type == 'memberid'">
					memberid LIKE '%'||#{searchWord}||'%'
				</if>
				<if test="type == 'all'">
					title LIKE '%' || #{searchWord} || '%' 
					or contents LIKE '%' || #{searchWord} || '%' 
					or memberid LIKE '%' || #{searchWord} || '%'
				 </if> 
				</if>
			</where>	
		order by inputdate desc
	</select>
	
	<select id="readPost" parameterType="int" resultType="Post">
		select * from CAPA_post where postnum = #{postnum}
	</select>
	
	 <select id="readReply" resultType="Reply">
		select
		 	replynum
		 	, boardnum
		 	, postnum
		 	, memberid
		 	, replytext
		 	, to_char(inputdate, 'yyyy.mm.dd') inputdate 
		 from 
		 	naiteigo_reply 
		 where 
		 	postnum = #{postnum}
		 order by
		 	inputdate desc
	</select>
	<update id="updateHits" parameterType="int">
		update CAPA_post
		set hits = hits +1
		where postnum = #{postnum}
	</update>
	 
	<update id="updatePost" parameterType="Post">
		update 
			CAPA_post 
		set
			title = #{title}
			, contents = #{contents} 
			<if test="originalfile != null and savedfile != null">
			, originalfile = #{originalfile}
			, savedfile = #{savedfile}
			</if>
		where 
			postnum = #{postnum} 
			and memberid = #{memberid}
	</update>
	
	<delete id="deletePost" parameterType="Post">
		delete from CAPA_post where postnum = #{postnum} and memberid = #{memberid}
	</delete>
	 
	 검색했을 때의 글 개수
	<select id="countPost" parameterType="SelNumber" resultType="int">
		select count(*) from CAPA_post
		<where>
			<if test="type != null and searchWord != null">
				boardnum = to_number(#{boardnum})
				<if test="type == 'title'">
					title LIKE '%'||#{searchWord}||'%'
				</if>
				<if test="type == 'contents'">
					contents LIKE '%'||#{searchWord}||'%'
				</if>
				<if test="type == 'memberid'">
					memberid LIKE '%'||#{searchWord}||'%'
				</if>
				<if test="type == 'all'">
					title LIKE '%' || #{searchWord} || '%' 
					or contents LIKE '%' || #{searchWord} || '%' 
					or memberid LIKE '%' || #{searchWord} || '%'
				</if>
			</if>
		</where>
		order by inputdate desc
	</select>
	

	<select id="getOneReply" parameterType="int" resultType="Reply">
		select * from naiteigo_reply where replynum = #{replynum}
	</select>
	<delete id="deleteReply" parameterType="Reply">
	 	delete 
	 	from 
	 		naiteigo_reply 
	 	where 
	 		replynum = #{replynum} and memberid = #{memberid}
	</delete>
	

	<update id="updateReply" parameterType="reply">
		update naiteigo_reply 
		set 
			replytext = #{replytext}
		where 
			replynum = #{replynum} and memberid = #{memberid}
	</update> -->
</mapper>