<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회사정보 읽기, 수정</title>
<style>
	#logoLoca{
		margin-left: 30px;
		margin-top: 30px;
	}
	#logo{
		width:100px;
		height: auto; 
	}
	h1{
		text-align: center; 
	}
	hr{
		margin-bottom: 40px;
		border:0px;
		background : black;
		height : 3px;
	}
</style>
<script>
/* 	function updateForm(booknum) {
		location.href = '/review/updateForm?booknum=' + booknum;

	}

	function deleteForm(booknum) {
		if (confirm('삭제하시겠습니까?')) {
			location.href = '/review/deleteForm?booknum=' + booknum;
		}
	}
	function goPage(){
		location.href="/member/mypage";
	} */
</script>
</head>
<body>
	<div id="logoLoca">
	<img src="../image/capa.PNG" id="logo" onclick="goHome();">
	</div>
	<h1>후기 읽기</h1>
	<hr>
	
 	<table>
		<tr>
			<th th:text="${info.company_name}" colspan="2"></th>
		</tr>
		
 		<tr>
			<th>작성 날짜</th>
			<td th:text="${info.sales}"></td>
		</tr>
	
		<tr>
			<th>평점</th>
			<td th:text="${info.employees}"></td>
		</tr>

		
		<tr>
			<th colspan="2">후기</th>
		</tr>
		
		<tr>
			<td th:text="${info.homepage}" colspan="2"></td>
		</tr>
	</table>

<!-- <div id="centerBt">
<input type="button" th:onclick="|javascript:updateForm('${review.booknum}')|" id="update" class="bt" value="수정하기">
<input type="button" th:onclick="|javascript:deleteForm('${review.booknum}')|" class="bt" value="삭제">
</div> -->


</body>
</html>