<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
function validation() {
   let name = document.getElementById('company_name');
   let sales = document.getElementById('sales');
   let employees = document.getElementById('employees');
   let address = document.getElementById('c_address');
   let salary = document.getElementById('salary_AVG');
   let filed = document.getElementById('filed');
   let scale = document.getElementById('scale');
   let info = document.getElementById('info');
   
   
   
   if(name.value==''){
      alert('회사이름을 입력하세요');
      name.focus();
      return false;
   }
   if(sales.value==''){
      alert('매출을 입력하세요');
      sales.focus();
      return false;
   }
   if(employees.value==''){
      alert('사원수을 입력하세요');
      employees.focus();
      return false;
   }
   if(address.value==''){
      alert('회사주소를 입력하세요');
      address.focus();
      return false;
   }
   if(salary.value==''){
      alert('평균급여를 입력하세요');
      salary.focus();
      return false;
   }
   if(filed.value==''){
      alert('회사분야를 입력하세요');
      filed.focus();
      return false;
   }
   if(scale.value==''){
      alert('회사규모를 입력하세요');
      scale.focus();
      return false;
   }
   if(info.value==''){
      alert('간단한 회사 정보를 입력해주세요. 회사메일, 분위기 등등');
      info.focus();
      return false;
   }
   return true;
}
function goHome(){
	location.href="/capa";
}
</script>
</head>
<body>
	
	<form th:action="@{/company/update}" method="post"
	onsubmit="return validation();" enctype="multipart/form-data">
	<!-- <input type="hidden" name="company_name" th:value="${info.company_name}"> -->
	<input type="hidden" th:value="${info.lat}" id="lat" name="lat">
	<input type="hidden" th:value="${info.lng}" id="lng" name="lng">
	<table>
            <tr>
               <th>회사이름</th>
               <td><input type="text" name="company_name" id="company_name" class="put" th:value="${info.company_name}" readonly="readonly">
               </td>
            </tr>
            <tr>
               <th>매출</th>
               <td><input type="text" name="sales" id="sales" class="put" th:value="${info.sales}">
               </td>
            </tr>
            <tr>
               <th>사원수</th>
               <td><input type="text" name="employees" id="employees" placeholder="숫자만 적어주세요" class="put" th:value="${info.employees}">
               </td>
            </tr>
            <tr>
               <th>회사주소</th>
               <td><input type="text" name="c_address" id="c_address" placeholder="EX) 서울특별시 종로구 " class="put" th:value="${info.c_address}"></td>
            </tr>
            <tr>
               <th>회사홈페이지 URL</th>
               <td><input type="text" name="homepage" id="homepage" placeholder="http://" class="put" th:value="${info.homepage}"></td>
            </tr>
            <tr>
               <th>평균급여</th>
               <td><input type="text" name="salary_AVG" id="salary_AVG" placeholder="한 달 기준 월급" class="put" th:value="${info.salary_AVG}">
               </td>
            </tr>
            <tr>
               <th>분야</th>
               <td><input type="text" name="filed" id="filed" placeholder="EX) IT분야 , 보건분야" class="put" th:value="${info.filed}">
               </td>
            </tr>
            <tr>
               <th>회사규모</th>
               <td><input type="text" name="scale" id="scale" placeholder="유수기업, 대기업, 중소기업" class="put" th:value="${info.scale}">
               </td>
            </tr>
            <tr>
               <th>회사소개</th>
               <td><input type="text" name="info" id="info" th:value="${info.info}">
               </td>
            </tr>
            <tr>
               <th>설립일</th>
               <td><input type="date" name="Edate" id="Edate" th:value="${info.Edate}"
                  placeholder="설립일">
               </td>
            </tr>
            <tr>
               <th>회사사진</th>
               <td><input type="file" name="upload" id="upload" th:value="${info.originalfile}">
            </td> 
            </tr>
            <tr>
            	<td colspan="2" class="center"><input type="submit" value="수정">
            	</td>
            </tr>
            
         </table>
	</form>

</body>
</html>