<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>homepage</h1>

			<div id="login">
		<ul>
			<li sec:authorize="not isAuthenticated()"><a th:href="@{member/join}">회원가입</a></li>
			<li sec:authorize="not isAuthenticated()"><a th:href="@{member/loginForm}">로그인</a></li>
			<li sec:authorize="isAuthenticated()"><a th:href="@{/member/logout}">로그아웃</a></li>
			<li sec:authorize="isAuthenticated()"><a th:href="@{/member/mypage}">회원정보 수정</a></li>
		</ul>
	</div>

		<a th:href="@{/board/boardpage}">게시판</a>


</body>
</html>