<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CareerPatner!</title>
<style>
/* 	table {
		margin: auto;
		height: auto;
	}
	
	th {
		background-color: cadetblue;
	}
	
	h2 {
		text-align: center;
	}
	#btnd {
		text-align: center;
	}
	#address {
		width: 300px;
	}
	body {
		background: #98E0AD;
	}
	#container {
		width: 850px;
		margin-top: 200px;
	    margin-left: auto;
	    margin-right: auto;
	    height: 300px;    
	    border: 1px solid black;
	}
	#home {
		text-decoration: none;
	}
	h1 > a {
		color: white;
	}
	h1 {
		text-align: center;
	}
	#header {
		margin-top : 50px;
		height : 10px;
	} */
</style>
<script>
	function validate() {
		let id = document.querySelector("#memberid");
		let pw = document.querySelector("#memberpw");
		let firstname = document.querySelctor("#firstname");
		let familyname = document.querySelector("#familyname");
		let hiraFirstname = document.querySelector("#hiraFirstname");
		let hiraFamilyname = document.querySelector("#hiraFamilyname");
		// let name = familyname.value + " " + firstname.value;
		
		if(id.value == null || id.value == '') {
			alert("아이디를 작성해주세요.")
			id.focus();
			id.select();
			return false;
		}
		
		if(id.value.length < 3 || id.value.length > 10) {
			alert("아이디는 3~10글자 이내로 작성해 주세요.")
			id.value = null;
			id.focus();
			id.select();
			return false;
		}
		
		if(pw.value.length < 3 || pw.value.length > 10) {
			alert("비밀번호는 3~10글자 이내로 작성해 주세요.")
			pw.value = null;
			pw.focus();
			pw.select();
			return false;
		}
		
		if(pw.value != pw2.value) {
			alert("비밀번호 값이 일치하지 않습니다.")
			return false;
		}
		
		if(firstname.value == null || firstname.value == '') {
			alert("이름을 작성해주세요.")
			firstname.focus();
			firstname.select();
			return false;
		} 
		return true;
		
		if(familyname.value == null || familyname.value == '') {
			alert("이름을 작성해주세요.")
			familyname.focus();
			familyname.select();
			return false;
		} 
		return true;
		
		if(hiraFirstname.value == null || hiraFirstname.value == '') {
			alert("이름을 작성해주세요.")
			hiraFirstname.focus();
			hiraFirstname.select();
			return false;
		} 
		return true;
		
		if(hiraFamilyname.value == null || hiraFamilyname.value == '') {
			alert("이름을 작성해주세요.")
			hiraFamilyname.focus();
			hiraFamilyname.select();
			return false;
		} 
		return true;
	}
	
	function idCheck() {
		window.open('idcheck', 'idwin', 'top=200, left500, width=400, height=300');
	}
</script>
</head>
<body>
	<div id="header">
		<h1> <a th:href="@{/}" id="home">CAPA</a> </h1>
	</div>
	<div id="container">
	<h2>[ 회원등록 ]</h2>
	<form th:action="@{join}" method="post" onsubmit="return validate()">
		<table>
			<tr>
				<th>ID</th>
				<td>
					<input type="text" name="memberid" id="memberid" placeholder="ID중복확인 이용" readonly="readonly">
					<input type="button" value="ID중복확인" onclick="idCheck()">
				</td>
			</tr>
			<tr>
				<th>PASSWORD</th>
				<td>
					<input type="password" name="memberpw" id="memberpw" placeholder="패스워드를 입력하세요.">
					<input type="password" name="memberpw2" id="memberpw2" placeholder="패스워드를 재입력하세요.">
				</td>
			</tr>
			<tr>
				<th>NAME</th>
				<td>
					<input type="text" name="membername" id="membername" placeholder="이름을 입력하세요.">
				</td>
			</tr>
			<tr>
				<th>EMAIL</th>
				<td><input type="text" name="email" id="email" placeholder="메일을 입력하세요."></td>
			</tr>
			<tr>
				<th>전화번호</th>
				<td><input type="text" name="phone" id="phone" placeholder="전화번호를 입력하세요."></td>
			</tr>
			<tr>
				<th>주소</th>
				<td><input type="text" name="address" id="address" placeholder="주소를 입력하세요."></td>
			</tr>
			<tr id="btnr">
				<td colspan="2" id="btnd"><input type="submit" value="등록">   <input type="reset" value="취소"></td>
			</tr>
		</table>
	</form>
	</div>
</body>
</html>